.yes {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  width: 200px;
  position: relative;
  left:55%;
  margin-left: -100px;
  color: #daa520;
}
.sidenav {
  height: 100%;
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #1e2761; 
  overflow-x: hidden; 
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 23px;
  color: #daa520;
  display: block;
}
.sidenav a:hover {
  color: yellow;
}
.main {
  margin-left: 160px; 
  padding: 0px 10px;
}
@media (max-width: 768px) {
  [class*="yes"] {
    left:60%;
  }
}
body {
  background-color:  rgb(53, 71, 153);
  }

.ok {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
  left: 30%;
}